.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe6c9;
}
.container {
  display: flex;
  width: 850px;
  height: 500px;
  border-radius: 20px;
  grid-auto-columns: auto;
  background-color: #ffff;
  font-family: Arial, Helvetica, sans-serif;

  .left-wrapper {
    width: 65%;
    padding: 32px 0 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right-wrapper {
    width: 35%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  .left-wrapper,
  .right-wrapper {
    width: 100% !important;
    padding: 20px !important;
  }
}
