.content {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid black;  */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe6c9;
}
.container {
  display: flex;
  width: 850px;
  height: 500px;
  border-radius: 20px;
  grid-auto-columns: auto;
  background-color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  .left-wrapper {
    width: 65%;
    padding: 32px 0 32px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .right-wrapper {
    width: 35%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.registered {
  font-size: 10px;
  color: #888585;
}

.create {
  font-size: 10px;
  color: #aa0daf;
  text-decoration: none;
}
