.register-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .register-now {
    color: #aa0daf;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .ant-registered-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #aa0daf;
    font-weight: bold;
    margin-top: -40px;
  }

  .back-wrapper {
    text-align: end;
    .back {
      z-index: 100;
      font-size: 13px;
      color: #aa0daf;
      text-decoration: none;
    }
  }
}
