.register-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center
} 
 .register-content { 
  .register-now {
    color: #aa0daf;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: space-around;
  }
  .ant-registered-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #aa0daf;
    font-weight: bold;
    margin-top: -40px;
  }

  .back-wrapper {
    text-align: end;
    .back {
      font-size: 13px;
      color: #aa0daf;
      display: flex;
      text-decoration: none;
      margin-top: -40px;
    }
  }
}

